<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<table>
    <th><tr><td>ID</td><td>DNA</td></tr></th>
    <tbody>
        {{#each DNAList}}
            <tr><td>{{inc @key}}</td><td>{{this}}</td></tr>
        {{/each}}
    </tbody>
</table>
